<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rubix.studio.libdirectorychooser">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name="rubix.studio.libdirectorychooser.view.activity.MainActivity"
            android:theme="@style/LibAppTheme" />
    </application>

</manifest>
